@import "../../styles/variables";

.button {
  border: none;
  // outline: 1px solid #000000;
  border-radius: 0;
}

.tierButton {
  width: 80px;
  margin: 0 5px;
}

.tier4 {
  background-color: $tier4_color;
  border: 1px solid darken($tier4_color, $darken_percent);
  &:hover,
  &:active {
    background-color: darken($tier4_color, $clickedDarken_percent);
  }
}
.tier5 {
  background-color: $tier5_color;
  border: 1px solid darken($tier5_color, $darken_percent);
  &:hover,
  &:active {
    background-color: darken($tier5_color, $clickedDarken_percent);
  }
}
.tier6 {
  background-color: $tier6_color;
  border: 1px solid darken($tier6_color, $darken_percent);
  &:hover,
  &:active {
    background-color: darken($tier6_color, $clickedDarken_percent);
  }
}
.tier7 {
  background-color: $tier7_color;
  border: 1px solid darken($tier7_color, $darken_percent);
  &:hover,
  &:active {
    background-color: darken($tier7_color, $clickedDarken_percent);
  }
}
.tier8 {
  background-color: $tier8_color;
  border: 1px solid darken($tier8_color, $darken_percent);
  &:hover,
  &:active {
    background-color: darken($tier8_color, $clickedDarken_percent);
  }
}

.create {
  margin: 0 auto;
  width: 100%;
  font-size: 16px;
  background-color: $createButton_color;
  &:hover {
    background-color: darken($createButton_color, $clickedDarken_percent);
  }
}
.update {
  width: 250px;
  height: 60px;
  font-size: 18px;
  background-color: $updateButton_color;
  &:hover {
    background-color: darken($updateButton_color, $clickedDarken_percent);
  }
}

.active {
  filter: brightness(65%);
  transform: translateY(4px);
  // border: 1px solid rgb(145, 145, 145);
  box-shadow: none;
}
