.thirdTable {
    margin-top: 30px;
    background-color: red;

    table {
        table-layout: fixed;
        
    }
    th {
        height: 24px;
    }
    td {
        height: 25px;
    }

    td, th {
        text-align: center;
        background-color: white;

        &:nth-child(n):nth-last-child(n+3){
            width: 100px;
        }
        &:nth-child(4){
            width: 60px;
        }
        &:nth-child(5){
            width: 50px;
        }
    }
}

.negtaiveValue {
    color: red;
}
.positiveValue {
    color: rgb(6, 220, 6);
}