

// Tier colors
$tier4_color: #8bd4ff;
$tier5_color: #fc6d60;
$tier6_color: #f59f5e;
$tier7_color: #fcdb71;
$tier8_color: #b4b4b4;

// Button hover and active
$darken_percent: 10%;
$clickedDarken_percent: 30%;

// Update and create button colors
$updateButton_color: #ffa26d;
$createButton_color: #ffa26d;

