.hover {
    position: absolute;
    width: fit-content;
    min-width: 200px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    top: -30px;
    left: -60%;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(171, 171, 171);
}