@import '../../styles/variables';

.main {
  width: 1440px;
  height: 415px;
  margin: 0 auto;
  background-color: #b2b2b258;
  margin-bottom: 30px;
  transition: height 2s;
  
  display: flex;
  flex-direction: row;


  .left {
    // background-color: #b2b2b258;
    .tables_section {
      padding: 65px;
  
      table {
        border-collapse: collapse;
      }
    }
  }
  .right {
    background: linear-gradient(90deg, rgba(178,178,178,0) 0%, rgba(195,194,194,0.7) 30%, rgba(195,194,194,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .content {
      width: 100%;
      padding: 65px;
      background-color: rgba($color: #000000, $alpha: 0.3)
    }
  }
}

input {
  border: none;
  width: 100%;
  text-align: center;
  font-size: inherit;
}

.fade_in {
  transition: all 0.2s;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.red {
  background-color: red;
}
.fade_out {
  transition: all 0.3s;
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}





