$tier4_color: #8bd4ff;

.main {
  width: 1440px;
  margin: 0 auto;
  background-color: #b2b2b258;

  .tables_section {
    padding: 65px;

    table {
      border-collapse: collapse;
    }
  }
}

input {
  background-color: lighten($tier4_color, 15%);
  border: none;
  width: 100%;
  text-align: center;
  font-size: inherit;
}
