.footer {
    background-color: rgba(176, 176, 176, 0.5);
    height:150px;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 1440px;
        .footerGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
            grid-auto-rows: auto;
            grid-gap: 10px;
            margin: 0 auto;
            max-width: 100%;

            .head {
                
                grid-column: 1 / 2;
            }
        }
    }

    
}