@import './styles/variables.scss';

body {
    margin: 0;
    font-family: 'Inter', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEEEF0;
    overflow-y: scroll;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
}

* {
    font-family: 'Inter', system-ui;
}

.wrapper{
    max-width: 100vw;
    margin: 0 auto;
    // min-height: 100px;
    display: flex;
    flex-direction: column;
    
    .content {
        // Full height - Footer hiegh - header height
        min-height: calc(100vh);
        // padding-bottom: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



