@import '../../styles/variables';

.resourceTable {
    margin-left: 80px;
    margin-bottom: 30px;
    
    th, tr, td {
        background-color: rgb(255, 255, 255);
        border-radius: 6px;
        margin-right: 2px;
        width: 80px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }
    
    tr th:first-child,
    tr td:first-child {
        width: 154px;
        text-align: left;
        padding-left: 15px;
    }
    .tier4 {
        background-color: $tier4_color;
    }
    .tier5 {
    background-color: $tier5_color;
    }
    .tier6 {
    background-color: $tier6_color;
    }
    .tier7 {
    background-color: $tier7_color;
    }
    .tier8 {
    background-color: $tier8_color;
    }
}




  

