@import '../../../styles/variables';

.calculations {
    margin-top: 30px;
    width: 650px;
    display: flex;
    justify-content: space-between;

    table {
        table-layout: fixed;
    }

    td, th {
        text-align: center;
        height: 24px;
        background-color: white;
        width: 100px;
    }

    .second_table {
        width: 250px;
        margin-right: 10px;


        tr th:first-child,
        tr td:first-child {
            width: 50px;
        }
    }
}


.tier4 {
    background-color: lighten($tier4_color, 15%);
}
.tier5 {
    background-color: lighten($tier5_color, 15%);
}
.tier6 {
    background-color: lighten($tier6_color, 15%);
}
.tier7 {
    background-color: lighten($tier7_color, 15%);
}
.tier8 {
    background-color: lighten($tier8_color, 15%);
}
